<TMPL_INCLUDE NAME="header.tmpl">
	<h2>About QR Pearls</h2>
	TODO
	<h2>Do Not Track Policy</h2>
	<p>This site uses cookies to store the user-selected language. The
	cookies are so-called session cookies, which are deleted when the
	user closes the browser.</p>
	<p>The site is fully usable without using cookies. Default language
	is determined by the preferred language information sent by the
	browser.</p>
<TMPL_INCLUDE NAME="footer.tmpl">
