<TMPL_INCLUDE NAME="header.tmpl">
	<h2>About QR Pearls</h2>
	<h3>Motivation</h3>
	<p>The QR Pearls web app was written to be used in the Tech Lab
	installation
	at <a href="http://www.aakb.dk/biblioteker/hovedbiblioteket">Aarhus
	Hovedbibliotek</a> in February, 2013. The Tech Lab installation is a
	collaboration between <a href="http://www.folkelab.dk/">Aarhus
	Folkelab</a> and <a href="http://www.osaa.dk/">Open Space
	Aarhus</a>.</p>

	<h3>Features</h3>
	<ul>
		<li>Automatic or manual QR code version selection</li>
		<li> QR code error correction level selection</li>
		<li>Preview of generated QR code</li>
		<li> Generates PDF file with beads design</li>
		<li> Mirrored beads design, so QR code is ironed on the back, not the front</li>
		<li> UTF-8 text string support</li>
	</ul>

	<h3>Limitations</h3>
	<p>Generated design is intended for use with 29x29 peg boards
	(e.g. product
	code <a href="http://www.hamabeads.com/large_square_679.htm">234</a>
	from Hama Beads).</p>

	<h3>License</h3>
	<p>The generated QR codes are of course free to use, no license
	restrictions at all. The source code of the QR Pearls web app
	is <a href="https://github.com/henrikbrixandersen/qrpearls">available</a>
	under
	the <a href="http://opensource.org/licenses/BSD-2-Clause">2-clause
	BSD license</a>.

	<h3>Do Not Track Policy</h3>
	<p>This site uses cookies to store the user-selected language. The
		cookies are so-called session cookies, which are deleted when the
		user closes the browser. The site is fully usable with cookies
		disabled. Default language is determined by the preferred language
		information sent by the browser.</p>
<TMPL_INCLUDE NAME="footer.tmpl">
