<TMPL_INCLUDE NAME="header.tmpl">
	<h2>About QR Pearls</h2>
	<h3>Usage Instructions</h3>
	<p>TODO</p>
	<h3>Do Not Track Policy</h3>
	<p>This site uses cookies to store the user-selected language. The
		cookies are so-called session cookies, which are deleted when the
		user closes the browser.</p>
	<p>The site is fully usable with cookies disabled. Default language
		is determined by the preferred language information sent by the
		browser.</p>
	<h3>Source Code</h3>
	<p>TODO</p>
<TMPL_INCLUDE NAME="footer.tmpl">
