			<hr>
      <div class="footer">
        <p class="pagination-centered muted"><small>Copyright &copy; 2013 <a href="mailto:henrik@brixandersen.dk">Henrik Brix Andersen</a></small></p>
      </div>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/custom.js"></script>
  </body>
</html>
