			<hr>
      <div class="footer">
        <p class="pagination-centered">Copyright &copy; 2013 <a href="mailto:henrik@brixandersen.dk">Henrik Brix Andersen</a></p>
      </div>
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="js/bootstrap.min.js"></script>
  </body>
</html>
