<TMPL_INCLUDE NAME="header.tmpl">
			<div id="alert-no-text" class="alert alert-error hide">
				<button type="button" id="alert-no-text-close" class="close">&times;</button>
				<strong>_("Error!")</strong> _("Please specify some text first")
			</div>
			<div id="modal-preview" class="modal hide fade" tabindex="-1">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>_("Preview")</h3>
				</div>
				<div class="modal-body pagination-centered">
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-primary" data-dismiss="modal">_("Close")</a>
				</div>
			</div>
			<form id="form" class="form-horizontal" action="/qrcode.pl" method="get">
				<div class="control-group">
					<label class="control-label" for="form-text">_("Text")</label>
					<div class="controls">
						<input class="input-xlarge" type="text" id="form-text" name="text" placeholder="_("QR Code Text")">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="form-version">_("Version")</label>
					<div class="controls">
						<select id="form-version" name="version">
							<option value="0" selected>_("Automatic")</option>
              <option value="1">1 (23x23)</option>
              <option value="2">2 (27x27)</option>
              <option value="3">3 (31x31)</option>
              <option value="4">4 (35x35)</option>
              <option value="5">5 (39x39)</option>
              <option value="6">6 (43x43)</option>
              <option value="7">7 (47x47)</option>
              <option value="8">8 (51x51)</option>
              <option value="9">9 (55x55)</option>
              <option value="10">10 (59x59)</option>
              <option value="11">11 (63x63)</option>
              <option value="12">12 (67x67)</option>
              <option value="13">13 (71x71)</option>
              <option value="14">14 (75x75)</option>
              <option value="15">15 (79x79)</option>
              <option value="16">16 (83x83)</option>
              <option value="17">17 (87x87)</option>
              <option value="18">18 (91x91)</option>
              <option value="19">19 (95x95)</option>
              <option value="20">20 (99x99)</option>
              <option value="21">21 (103x103)</option>
              <option value="22">22 (107x107)</option>
              <option value="23">23 (111x111)</option>
              <option value="24">24 (115x115)</option>
              <option value="25">25 (119x119)</option>
              <option value="26">26 (123x123)</option>
              <option value="27">27 (127x127)</option>
              <option value="28">28 (131x131)</option>
              <option value="29">29 (135x135)</option>
              <option value="30">30 (139x139)</option>
              <option value="31">31 (143x143)</option>
              <option value="32">32 (147x147)</option>
              <option value="33">33 (151x151)</option>
              <option value="34">34 (155x155)</option>
              <option value="35">35 (159x159)</option>
              <option value="36">36 (163x163)</option>
              <option value="37">37 (167x167)</option>
              <option value="38">38 (171x171)</option>
              <option value="39">39 (175x175)</option>
              <option value="40">40 (179x179)</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">_("Error Correction")</label>
					<div class="controls">
						<label class="radio inline">
							<input type="radio" id="form-level-l" name="level" value="L" checked>
							_("Low")
						</label>
						<label class="radio inline">
							<input type="radio" id="form-level-m" name="level" value="M">
							_("Medium")
						</label>
						<label class="radio inline">
							<input type="radio" id="form-level-q" name="level" value="Q">
							_("Quartile")
						</label>
						<label class="radio inline">
							<input type="radio" id="form-level-h" name="level" value="H">
							_("High")
						</label>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary"><i class="icon-download icon-white"></i> _("Download")</button>
						<button type="button" id="form-preview" class="btn"><i class="icon-search"></i> _("Preview")</button>
						<button type="reset" class="btn"><i class="icon-remove"></i> _("Reset")</button>
					</div>
				</div>
			</form>
<TMPL_INCLUDE NAME="footer.tmpl">
