<TMPL_INCLUDE NAME="header.tmpl">
			<div id="alert-no-text" class="alert alert-error hide">
				<button type="button" id="alert-no-text-close" class="close">&times;</button>
				<strong>Error!</strong> Please specify some text first
			</div>
			<div id="modal-preview" class="modal hide fade" tabindex="-1">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Preview</h3>
				</div>
				<div class="modal-body">
					<p></p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
				</div>
			</div>
			<form id="form" class="form-horizontal" action="/qrcode.pl" method="get">
				<div class="control-group">
					<label class="control-label" for="form-text">Text</label>
					<div class="controls">
						<input class="input-xlarge" type="text" id="form-text" name="text" placeholder="QR Code Text" autocomplete="off">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="form-version">Version</label>
					<div class="controls">
						<select id="form-version" name="version">
							<option value="0" selected>Automatic</option>
              <option value="1">1 (21x21)</option>
              <option value="2">2 (25x25)</option>
              <option value="3">3 (29x29)</option>
              <option value="4">4 (33x33)</option>
              <option value="5">5 (37x37)</option>
              <option value="6">6 (41x41)</option>
              <option value="7">7 (45x45)</option>
              <option value="8">8 (49x49)</option>
              <option value="9">9 (53x53)</option>
              <option value="10">10 (57x57)</option>
              <option value="11">11 (61x61)</option>
              <option value="12">12 (65x65)</option>
              <option value="13">13 (69x69)</option>
              <option value="14">14 (73x73)</option>
              <option value="15">15 (77x77)</option>
              <option value="16">16 (81x81)</option>
              <option value="17">17 (85x85)</option>
              <option value="18">18 (89x89)</option>
              <option value="19">19 (93x93)</option>
              <option value="20">20 (97x97)</option>
              <option value="21">21 (101x101)</option>
              <option value="22">22 (105x105)</option>
              <option value="23">23 (109x109)</option>
              <option value="24">24 (113x113)</option>
              <option value="25">25 (117x117)</option>
              <option value="26">26 (121x121)</option>
              <option value="27">27 (125x125)</option>
              <option value="28">28 (129x129)</option>
              <option value="29">29 (133x133)</option>
              <option value="30">30 (137x137)</option>
              <option value="31">31 (141x141)</option>
              <option value="32">32 (145x145)</option>
              <option value="33">33 (149x149)</option>
              <option value="34">34 (153x153)</option>
              <option value="35">35 (157x157)</option>
              <option value="36">36 (161x161)</option>
              <option value="37">37 (165x165)</option>
              <option value="38">38 (169x169)</option>
              <option value="39">39 (173x173)</option>
              <option value="40">40 (177x177)</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Error Correction</label>
					<div class="controls">
						<label class="radio inline">
							<input type="radio" id="form-level-l" name="level" value="L" checked>
							Low
						</label>
						<label class="radio inline">
							<input type="radio" id="form-level-m" name="level" value="M">
							Medium
						</label>
						<label class="radio inline">
							<input type="radio" id="form-level-q" name="level" value="Q">
							Quartile
						</label>
						<label class="radio inline">
							<input type="radio" id="form-level-h" name="level" value="H">
							High
						</label>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary"><i class="icon-download icon-white"></i> Download</button>
						<button type="button" id="form-preview" class="btn"><i class="icon-search"></i> Preview</button>
						<button type="reset" class="btn"><i class="icon-remove"></i> Reset</button>
					</div>
				</div>
			</form>
<TMPL_INCLUDE NAME="footer.tmpl">
